:root{
    --main-color: #5528FF;
    --text-color: #202020;
    --text2-color: #4F4F4F;
    --text3-color: #B2B2B2;
    --white-color: #ffffff;
    --black-color: #000000;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
/* container */
.container{
    width: 100%;
    max-width: 1181px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header{
    width: 100%;
    height: 58px;
    margin-top: 53px;
}
.header-wrapper{
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-brand-text{
    font-size: 24px;
    margin-left: 25px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item{
    margin-right: 37px;
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-item-link{
    font-size: 14px;
    font-weight: 700;
}
.menu-btn{
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-weight: 700;
    background-color: var(--main-color);
    border-radius: 5px;
    font-size: 14px;
}
/* header end */

/* content */
.content{
    margin: 117px 0 100px 0;
}
.content-wrapper{

}
.content-title{
    /* width: 1185px; */
    font-size: 55px;
}
.content-text{
    width: 100%;
    max-width: 741px;
    margin: 35px 0 70px 0;
    font-size: 32px;
    line-height: 1.6;
    color: var(--text2-color);
}
.content-btn{
    width: 235px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 24px;
}
/* content end */

/* services */

/* services end */

/* clients */

/* clients end */

/* team */

/* team end */

/* footer */

/* footer end */


/* MEDIA QUERY */